{"openapi":"3.0","info":{"description":"This is the REST API documentation for Full API in solutions. You can find out more about Slingr platform at [here](https://platform-docs.slingr.io/app-development-apps-rest-api.html)","version":"1.0.0","title":"Full API"},"contact":{"email":null,"url":null},"servers":[{"url":"https://solutions.slingrs.io/prod/runtime/api","description":"Prod server"}],"tags":[{"name":"auth","description":"Operations related to the authentication of users.","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#authentication"}},{"name":"users","description":"Allows to manage users.","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#users"}},{"name":"files","description":"Services store any kind of files that later can be downloaded, shared or referenced by fields in records.","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#files-handling"}},{"name":"sys.users","description":"Management of Users records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"billing.products","description":"Management of Products records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"billing.categories","description":"Management of Categories records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"billing.incomeAccounts","description":"Management of Income Accounts records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"customers","description":"Management of Customers records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"sys.countries","description":"Management of Countries records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"sys.states","description":"Management of States records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"billing.invoices","description":"Management of Invoices records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"projects","description":"Management of Projects records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"support.tickets","description":"Management of Tickets records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"timeTracking","description":"Management of Time Tracking records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"support.shifts","description":"Management of Shifts records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"sys.settings","description":"Management of Settings records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"dev.tasks","description":"Management of Tasks records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"dev.labels","description":"Management of Labels records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"dev.packages","description":"Management of Packages records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"sys.globalActions","description":"Management of Global Actions records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"support.coverageModels","description":"Management of Coverage Models records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"knowledge.files","description":"Management of Files records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"activity.events","description":"Management of Events records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"activity.eventTypes","description":"Management of Event Types records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"knowledge.meetings","description":"Management of Meetings records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"support.pools","description":"Management of Pools records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"knowledge.chats","description":"Management of Chats records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"knowledge.emails","description":"Management of Emails records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"aiViews.views","description":"Management of Views records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"aiViews.viewVersions","description":"Management of View Versions records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}},{"name":"knowledge.code","description":"Management of Code records","externalDocs":{"description":"Find out more","url":"https://platform-docs.slingr.io/app-development-apps-rest-api.html#app-data"}}],"paths":{"/auth/login":{"post":{"operationId":"login","tags":["auth"],"summary":"Starts a new user session.","description":"Before being able to use the API, you need to log in and get a valid token.","requestBody":{"required":true,"description":"User credentials","content":{"application/json":{"schema":{"$ref":"#/definitions/UserCredentials"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/Token"}}}},"401":{"description":"Invalid credentials or the provided token is not valid."},"404":{"description":"Resource not found"},"403":{"description":"Provided token does not have permissions to perform operation"},"400":{"description":"Malformed request. For example, you didn’t provide email and password fields."},"503":{"description":"If the application is suspended or in maintenance mode."}}}},"/auth/logout":{"post":{"operationId":"logout","tags":["auth"],"summary":"Finishes the current user session.","description":"Revokes current session's token.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"200":{"description":"Successful operation"}}}}},"/users":{"get":{"operationId":"listUsers","tags":["users"],"summary":"Lists users in the app.","description":"Lists existing users in the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},{"name":"firstName","in":"query","description":"Allows to filter by first name doing a partial match.","required":false,"schema":{"type":"string"}},{"name":"lastName","in":"query","description":"Allows to filter by last name doing a partial match.","required":false,"schema":{"type":"string"}},{"name":"fullName","in":"query","description":"Allows to filter by full name doing a partial match.","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","description":"Allows to filter by email a partial match.","required":false,"schema":{"type":"string"}},{"name":"developer","in":"query","description":"Allows to filter by developers. You can pass true or false, or leave it empty to get all.","required":false,"schema":{"type":"boolean"}},{"name":"status","in":"query","description":"Allows to filter by the status. You can pass many statuses separated by commas. Possible values are ACTIVE, INACTIVE and BLOCKED.","required":false,"schema":{"type":"string"}},{"name":"groups","in":"query","description":"Allows to filter by group label doing a partial match. You can specify many values separated by commas.","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"The maximum number of users to retrieve.","required":false,"schema":{"type":"number"}},{"name":"offset","in":"query","description":"This is the offset to start getting users. When you make a query you will get the offset you need to use to get more users.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"number","description":"The total number of records matched."},"offset":{"type":"string","description":"The offset to pass to get more records."},"items":{"type":"array","description":"This is the list of records fetched.","items":{"$ref":"#/definitions/User"}}}}}}}}},"post":{"operationId":"createUser","tags":["users"],"summary":"Creates an user","description":"Creates a new user in the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"description":"The user to be created","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"400":{"description":"There are validation errors"}}}},"/users/{idOrEmailOrExternalId}":{"put":{"operationId":"updateUser","tags":["users"],"summary":"Updates an user","description":"Updates settings of an existing user in the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},{"name":"idOrEmailOrExternalId","in":"path","description":"Either the user ID, email or external ID of the user to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"description":"The user to be edited","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"400":{"description":"There are validation errors"},"404":{"description":"Resource not found"}}},"delete":{"operationId":"deleteUser","tags":["users"],"summary":"Deletes an user","description":"Deletes an existing user in the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}]],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/users/{ids}/deactivate":{"put":{"operationId":"deactivateUser","tags":["users"],"summary":"Deactivates an user, changing its status to INACTIVE","description":"The user won’t be able to login or use the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}]],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/users/{ids}/reactivate":{"put":{"operationId":"activateUser","tags":["users"],"summary":"Reactivates an user, changing its status from INACTIVE to ACTIVE.","description":"The user will be able to login or use the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}]],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/users/{ids}/unblock":{"put":{"operationId":"unblockUser","tags":["users"],"summary":"Unblocks an user, changing its status from BLOCKED to ACTIVE.","description":"The user will be able to login or use the app.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}]],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/users/{id}/addIdentityProvider":{"put":{"operationId":"addIdentityProvider","tags":["users"],"summary":"Adds an identity provider for a user to allow logging in with it.","description":"Sets an identity provider for a user to allow logging in with it.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The ID, email or external ID of the user to perform operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"description":"Identity provider settings","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the identity provider to add. Either the id or the name of the identity provider is needed."},"name":{"type":"string","description":"The name of the identity provider to add. Either the id or the name of the identity provider is needed."},"externalId":{"type":"string","description":"The ID of the user in the identity provider. You can leave it empty and when the user logs in with this identity provider it should be set."}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"400":"Invalid information for the new identity provider.","404":{"description":"Resource not found"}}}},"/users/{id}/removeIdentityProvider/{identityProviderIdOrName}":{"put":{"operationId":"removeIdentityProvider","tags":["users"],"summary":"Removes an identity provider for an user.","description":"Removes an already configured identity provider for an user.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}],{"name":"identityProviderIdOrName","in":"query","description":"The ID or the name of the identity provider to remove.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/users/{ids}/addGroup":{"put":{"operationId":"addGroup","tags":["users"],"summary":"Adds a group for multiple users (or just a single one).","description":"Sets a new group for specified users.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}]],"requestBody":{"required":true,"description":"Group settings","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the group to add. Either the id or the name of the group is needed."},"name":{"type":"string","description":"The name of the group to add. Either the id or the name of the group is needed."}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"400":"Invalid information for the new group.","404":{"description":"Resource not found"}}}},"/users/{ids}/removeGroup/{groupIdOrName}":{"put":{"operationId":"removeGroup","tags":["users"],"summary":"Removes a group from a single user or a list of users.","description":"Removes an already configured group for a single user or a list of users.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},[{"name":"ids","in":"path","description":"The ID, email or external ID of the user to perform operation. It can be a comma separated list of user identifiers.","required":true,"schema":{"type":"string"}}],{"name":"groupIdOrName","in":"param","description":"The ID or the name of the group to remove.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/User"}}}},"404":{"description":"Resource not found"}}}},"/files":{"post":{"operationId":"uploadFile","tags":["files"],"summary":"Uploads a file to the app.","description":"It will be stored temporarily until it gets referenced by a record. If no record references the file in 12 hours, the file will be removed.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"description":"The file needs to be uploaded as a multi-part.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/FileLink"}}}}}}},"/files/{id}/share":{"put":{"operationId":"shareFile","tags":["files"],"summary":"Shares a file through a public link.","description":"The link will be valid for an hour.","parameters":[{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The ID of the file to perform operation.","required":true,"schema":{"type":"string"}},{"name":"ttl","in":"query","description":"Time to expire in milliseconds.","required":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/SharedFileLink"}}}},"404":{"description":"Resource not found"}}}},"/files/{id}":{"get":{"operationId":"downloadFile","tags":["files"],"summary":"Downloads a file from the app.","description":"Gets a file stored in the app","parameters":[{"name":"id","in":"path","description":"The ID of the file to perform operation.","required":true,"schema":{"type":"string"}},{"name":"token","in":"header","description":"Access token to perform operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary","description":"Downloaded file"}}}},"404":{"description":"Resource not found"}}}},"/files/shared/{id}":{"get":{"operationId":"shareFileDownload","tags":["files"],"summary":"Downloads a shared file.","description":"Gets the shared file.","parameters":[{"name":"id","in":"path","description":"The ID of the file to perform operation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary","description":"Downloaded file"}}}},"404":{"description":"Resource not found"}}}},"/data/sys.users":{"post":{"operationId":"sys.usersAdd","tags":["sys.users"],"summary":"Creates a new record of type sys.users.","description":"Record is sent in the body and should be valid according to the entity structure and fields rules.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true}],"requestBody":{"description":"The record to be created.","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"400":{"description":"There are validation errors"},"403":{"description":"Provided token does not have permissions to perform operation"}}},"get":{"operationId":"sys.usersFindMany","tags":["sys.users"],"summary":"Reads many records from one entity.","description":"You can specify filters and other options in the URL.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false}],"responses":{"200":{"400":{"description":"Invalid query"},"403":{"description":"Provided token does not have permissions to perform operation"},"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"description":"The total number of records matched.","type":"number"},"offset":{"description":"The offset to pass to get more records.","type":"string"},"items":{"description":"This is the list of records fetched.","type":"array","items":{"$ref":"#/definitions/sys.users"}}}}}}}}},"delete":{"operationId":"sys.usersDeleteOverQuery","tags":["sys.users"],"summary":"Deletes all records matched by a query.","description":"You won’t be able to recover deleted records. This method will return immediately but a job will be created to delete the records in the background.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeleteManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}":{"get":{"operationId":"sys.usersFindOne","tags":["sys.users"],"summary":"Reads one record by ID.","description":"Fetch a sys.users record.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"string"},"in":"query","name":"_fields","description":"Specify the fields to retrieve","required":false},{"schema":{"type":"string"},"in":"query","name":"_format","description":"Native or plainText formats","required":false},{"schema":{"type":"string"},"in":"query","name":"_relationshipsToFetch","description":"elationship fields that will be fetched within the record","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}},"put":{"operationId":"sys.usersUpdate","tags":["sys.users"],"summary":"Updates a record of type sys.users.","description":"Record is sent in the body and should be valid according to the entity structure and fields rules.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true}],"requestBody":{"description":"The record to be updated.","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"400":{"description":"There are validation errors"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}},"delete":{"operationId":"sys.usersDeleteOne","tags":["sys.users"],"summary":"Deletes a record of type sys.users from database.","description":"You won’t be able to recover the deleted record (except that you have enabled audit logs for that entity)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.users"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}":{"delete":{"operationId":"sys.usersDeleteMany","tags":["sys.users"],"summary":"Deletes records of type sys.users from database.","description":"You won’t be able to recover the deleted records (except that you have enabled audit logs for that entity)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeleteManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{id}/resetPassword":{"put":{"operationId":"sys.usersResetPasswordActionOne","tags":["sys.users"],"summary":"Executes the action ResetPassword over one sys.users record.","description":"Performs execution of resetPassword over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/resetPassword":{"put":{"operationId":"sys.usersResetPasswordActionMany","tags":["sys.users"],"summary":"Execute the ResetPassword action over many records of type sys.users.","description":"Executes resetPassword over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/resetPassword":{"put":{"operationId":"sys.usersResetPasswordActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes resetPassword over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersResetPasswordManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/activate":{"put":{"operationId":"sys.usersActivateActionOne","tags":["sys.users"],"summary":"Executes the action Activate over one sys.users record.","description":"Performs execution of activate over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record). The action will only be executed the following preconditions are met: \n`Status == INACTIVE`","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/activate":{"put":{"operationId":"sys.usersActivateActionMany","tags":["sys.users"],"summary":"Execute the Activate action over many records of type sys.users.","description":"Executes activate over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/activate":{"put":{"operationId":"sys.usersActivateActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes activate over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersActivateManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/deactivate":{"put":{"operationId":"sys.usersDeactivateActionOne","tags":["sys.users"],"summary":"Executes the action Deactivate over one sys.users record.","description":"Performs execution of deactivate over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record). The action will only be executed the following preconditions are met: \n`Status == ACTIVE`","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/deactivate":{"put":{"operationId":"sys.usersDeactivateActionMany","tags":["sys.users"],"summary":"Execute the Deactivate action over many records of type sys.users.","description":"Executes deactivate over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/deactivate":{"put":{"operationId":"sys.usersDeactivateActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes deactivate over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersDeactivateManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/unblock":{"put":{"operationId":"sys.usersUnblockActionOne","tags":["sys.users"],"summary":"Executes the action Unblock over one sys.users record.","description":"Performs execution of unblock over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record). The action will only be executed the following preconditions are met: \n`Status == BLOCKED`","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/unblock":{"put":{"operationId":"sys.usersUnblockActionMany","tags":["sys.users"],"summary":"Execute the Unblock action over many records of type sys.users.","description":"Executes unblock over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/unblock":{"put":{"operationId":"sys.usersUnblockActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes unblock over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersUnblockManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/connectToGoogleCalendar":{"put":{"operationId":"sys.usersConnectToGoogleCalendarActionOne","tags":["sys.users"],"summary":"Executes the action ConnectToGoogleCalendar over one sys.users record.","description":"Performs execution of connectToGoogleCalendar over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/connectToGoogleCalendar":{"put":{"operationId":"sys.usersConnectToGoogleCalendarActionMany","tags":["sys.users"],"summary":"Execute the ConnectToGoogleCalendar action over many records of type sys.users.","description":"Executes connectToGoogleCalendar over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/connectToGoogleCalendar":{"put":{"operationId":"sys.usersConnectToGoogleCalendarActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes connectToGoogleCalendar over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersConnectToGoogleCalendarManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/me":{"put":{"operationId":"sys.usersMeActionOne","tags":["sys.users"],"summary":"Executes the action Me over one sys.users record.","description":"Performs execution of me over a sys.users record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/sys.users/{ids}/me":{"put":{"operationId":"sys.usersMeActionMany","tags":["sys.users"],"summary":"Execute the Me action over many records of type sys.users.","description":"Executes me over many records of type sys.users. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/me":{"put":{"operationId":"sys.usersMeActionQuery","tags":["sys.users"],"summary":"Execute the action over all records matched by a query.","description":"Executes me over all records of type sys.users matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/sys.usersMeManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/aggregate":{"get":{"operationId":"sys.usersAggregate","tags":["sys.users"],"summary":"Performs aggregate operations over existing data.","description":"You can perform aggregation operations like count, sum or average.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true}],"requestBody":{"description":"Aggregate operations to be performed.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"operations":{"description":"Chaining of operations to be performed.","type":"array","items":{"type":"object"}}}}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"description":"The total number of records matched.","type":"number"},"items":{"description":"This is the list of maps as result.","type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid query"},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/export":{"put":{"operationId":"sys.usersExport","tags":["sys.users"],"summary":"Exports sys.users records to a CSV file.","description":"Generates a CSV file with records information.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"_useFieldNames","description":"If it is set to true it will use the name instead of the label to build the headers","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/JobLink"}}}},"400":{"description":"You are trying to export more than 1,000,000 records or if query is invalid."},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/import":{"put":{"operationId":"sys.usersImport","tags":["sys.users"],"summary":"Imports sys.users records from a CSV file.","description":"Import records by reading from a CSV file.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"boolean"},"in":"query","name":"lowPriority","description":"The import will be done only when there aren’t many other jobs running at the same time.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"updateCalculatedFields","description":"In order to speed up big imports you can decide to skip calculated fields.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"updateRelationships","description":"If the import updates the label of the record and the record was referenced by another record, a cascade update will be done to update the label in the reference","required":false},{"schema":{"type":"boolean"},"in":"query","name":"performValidations","description":"If you send false validations will be skipped.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"filterByAccessRules","description":"Indicates if fields should be filtered by access rules.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"performSecurityChecks","description":"If set to false, permissions will be skipped.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"triggerEvents","description":"If this flag is set to false listeners won’t be executed.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"setDefaultValues","description":"If set to false, default values won’t be calculated for fields.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"supportTransientFields","description":"If set to false transient fields won’t be managed as transient.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"cascadeOperations","description":"Updating or creating records through imports could trigger many cascade operation to update copied fields, aggregated fields, etc.","required":false},{"schema":{"type":"boolean"},"in":"query","name":"skipRecordsWithInvalidFields","description":"Records will be created/updated with errors that will need o be fixed later.","required":false}],"requestBody":{"description":"The file needs to be uploaded as a multi-part.","required":true,"content":{"application/octet-stream":{"schema":{"format":"binary","type":"string"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/JobLink"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/{id}/auditLogs":{"get":{"operationId":"sys.usersRecordAuditLogs","tags":["sys.users"],"summary":"Returns the audit logs of a record.","description":"Gets the list of changes performed over one record","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"number"},"in":"query","name":"_size","description":"The number of history records to fetch.","required":false},{"schema":{"type":"string"},"in":"query","name":"_offset","description":"Specifies an ID of a history log to start fetching logs from.","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"description":"The total number of records matched.","type":"number"},"offset":{"description":"The offset to pass to get more records.","type":"string"},"items":{"description":"This is the list of records fetched.","type":"array","items":{"$ref":"#/definitions/RecordAuditLogs"}}}}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/sys.users/auditLogs":{"get":{"operationId":"sys.usersRecordsAuditLogs","tags":["sys.users"],"summary":"Returns the audit logs of a record.","description":"Gets the list of changes performed over one record","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"query","name":"eventTypes","description":"Allows to filter by some specific type of events.","required":false},{"schema":{"type":"number"},"in":"query","name":"from","description":"Allows to filter logs by timestamp.","required":false},{"schema":{"type":"number"},"in":"query","name":"to","description":"Allows to filter logs by timestamp.","required":false},{"schema":{"type":"number"},"in":"query","name":"_size","description":"The number of history records to fetch.","required":false},{"schema":{"type":"string"},"in":"query","name":"_offset","description":"Specifies an ID of a history log to start fetching logs from.","required":false}],"responses":{"200":{"403":{"description":"Provided token does not have permissions to perform operation"},"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"description":"The total number of records matched.","type":"number"},"offset":{"description":"The offset to pass to get more records.","type":"string"},"items":{"description":"This is the list of records fetched.","type":"array","items":{"$ref":"#/definitions/RecordAuditLogs"}}}}}}}}}},"/data/sys.users/{id}/files/{fileId}":{"get":{"operationId":"sys.usersDownloadFile","tags":["sys.users"],"summary":"Downloads a file from the specified record.","description":"Gets a file stored in the record","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"fileId","description":"The ID of the file to perform operation.","required":true},{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true}],"responses":{"200":{"description":"Successful operation","content":{"application/octet-stream":{"schema":{"format":"binary","description":"Downloaded file","type":"string"}}}},"404":{"description":"Resource not found"}}}},"/data/billing.products":{"post":{"operationId":"billing.productsAdd","tags":["billing.products"],"summary":"Creates a new record of type billing.products.","description":"Record is sent in the body and should be valid according to the entity structure and fields rules.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true}],"requestBody":{"description":"The record to be created.","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"400":{"description":"There are validation errors"},"403":{"description":"Provided token does not have permissions to perform operation"}}},"get":{"operationId":"billing.productsFindMany","tags":["billing.products"],"summary":"Reads many records from one entity.","description":"You can specify filters and other options in the URL.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false}],"responses":{"200":{"400":{"description":"Invalid query"},"403":{"description":"Provided token does not have permissions to perform operation"},"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"description":"The total number of records matched.","type":"number"},"offset":{"description":"The offset to pass to get more records.","type":"string"},"items":{"description":"This is the list of records fetched.","type":"array","items":{"$ref":"#/definitions/billing.products"}}}}}}}}},"delete":{"operationId":"billing.productsDeleteOverQuery","tags":["billing.products"],"summary":"Deletes all records matched by a query.","description":"You won’t be able to recover deleted records. This method will return immediately but a job will be created to delete the records in the background.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsDeleteManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}":{"get":{"operationId":"billing.productsFindOne","tags":["billing.products"],"summary":"Reads one record by ID.","description":"Fetch a billing.products record.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"string"},"in":"query","name":"_fields","description":"Specify the fields to retrieve","required":false},{"schema":{"type":"string"},"in":"query","name":"_format","description":"Native or plainText formats","required":false},{"schema":{"type":"string"},"in":"query","name":"_relationshipsToFetch","description":"elationship fields that will be fetched within the record","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}},"put":{"operationId":"billing.productsUpdate","tags":["billing.products"],"summary":"Updates a record of type billing.products.","description":"Record is sent in the body and should be valid according to the entity structure and fields rules.","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true}],"requestBody":{"description":"The record to be updated.","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"400":{"description":"There are validation errors"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}},"delete":{"operationId":"billing.productsDeleteOne","tags":["billing.products"],"summary":"Deletes a record of type billing.products from database.","description":"You won’t be able to recover the deleted record (except that you have enabled audit logs for that entity)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.products"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}":{"delete":{"operationId":"billing.productsDeleteMany","tags":["billing.products"],"summary":"Deletes records of type billing.products from database.","description":"You won’t be able to recover the deleted records (except that you have enabled audit logs for that entity)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsDeleteManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{id}/syncProductsFromStripe":{"put":{"operationId":"billing.productsSyncProductsFromStripeActionOne","tags":["billing.products"],"summary":"Executes the action SyncProductsFromStripe over one billing.products record.","description":"Performs execution of syncProductsFromStripe over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/syncProductsFromStripe":{"put":{"operationId":"billing.productsSyncProductsFromStripeActionMany","tags":["billing.products"],"summary":"Execute the SyncProductsFromStripe action over many records of type billing.products.","description":"Executes syncProductsFromStripe over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/syncProductsFromStripe":{"put":{"operationId":"billing.productsSyncProductsFromStripeActionQuery","tags":["billing.products"],"summary":"Execute the action over all records matched by a query.","description":"Executes syncProductsFromStripe over all records of type billing.products matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsFromStripeManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}/syncProductsToQuickbooks":{"put":{"operationId":"billing.productsSyncProductsToQuickbooksActionOne","tags":["billing.products"],"summary":"Executes the action SyncProductsToQuickbooks over one billing.products record.","description":"Performs execution of syncProductsToQuickbooks over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/syncProductsToQuickbooks":{"put":{"operationId":"billing.productsSyncProductsToQuickbooksActionMany","tags":["billing.products"],"summary":"Execute the SyncProductsToQuickbooks action over many records of type billing.products.","description":"Executes syncProductsToQuickbooks over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/syncProductsToQuickbooks":{"put":{"operationId":"billing.productsSyncProductsToQuickbooksActionQuery","tags":["billing.products"],"summary":"Execute the action over all records matched by a query.","description":"Executes syncProductsToQuickbooks over all records of type billing.products matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncProductsToQuickbooksManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}/assignCategory":{"put":{"operationId":"billing.productsAssignCategoryActionOne","tags":["billing.products"],"summary":"Executes the action AssignCategory over one billing.products record.","description":"Performs execution of assignCategory over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/assignCategory":{"put":{"operationId":"billing.productsAssignCategoryActionMany","tags":["billing.products"],"summary":"Execute the AssignCategory action over many records of type billing.products.","description":"Executes assignCategory over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/assignCategory":{"put":{"operationId":"billing.productsAssignCategoryActionQuery","tags":["billing.products"],"summary":"Execute the action over all records matched by a query.","description":"Executes assignCategory over all records of type billing.products matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignCategoryManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}/assignIncomeAccount":{"put":{"operationId":"billing.productsAssignIncomeAccountActionOne","tags":["billing.products"],"summary":"Executes the action AssignIncomeAccount over one billing.products record.","description":"Performs execution of assignIncomeAccount over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/assignIncomeAccount":{"put":{"operationId":"billing.productsAssignIncomeAccountActionMany","tags":["billing.products"],"summary":"Execute the AssignIncomeAccount action over many records of type billing.products.","description":"Executes assignIncomeAccount over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/assignIncomeAccount":{"put":{"operationId":"billing.productsAssignIncomeAccountActionQuery","tags":["billing.products"],"summary":"Execute the action over all records matched by a query.","description":"Executes assignIncomeAccount over all records of type billing.products matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssignIncomeAccountManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}/associateWithQuickbooksProduct":{"put":{"operationId":"billing.productsAssociateWithQuickbooksProductActionOne","tags":["billing.products"],"summary":"Executes the action AssociateWithQuickbooksProduct over one billing.products record.","description":"Performs execution of associateWithQuickbooksProduct over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/associateWithQuickbooksProduct":{"put":{"operationId":"billing.productsAssociateWithQuickbooksProductActionMany","tags":["billing.products"],"summary":"Execute the AssociateWithQuickbooksProduct action over many records of type billing.products.","description":"Executes associateWithQuickbooksProduct over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/associateWithQuickbooksProduct":{"put":{"operationId":"billing.productsAssociateWithQuickbooksProductActionQuery","tags":["billing.products"],"summary":"Execute the action over all records matched by a query.","description":"Executes associateWithQuickbooksProduct over all records of type billing.products matched by a query. For more information please refer to [Execute action over query](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-query)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsAssociateWithQuickbooksProductManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/{id}/syncToQuickbooks":{"put":{"operationId":"billing.productsSyncToQuickbooksActionOne","tags":["billing.products"],"summary":"Executes the action SyncToQuickbooks over one billing.products record.","description":"Performs execution of syncToQuickbooks over a billing.products record. For more details refer to [Execute action over one record](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-one-record)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"id","description":"The ID of the record to perform operation.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncToQuickbooksRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncToQuickbooksResponse"}}}},"400":{"description":"Pre-conditions are not met"},"403":{"description":"Provided token does not have permissions to perform operation"},"404":{"description":"Resource not found"}}}},"/data/billing.products/{ids}/syncToQuickbooks":{"put":{"operationId":"billing.productsSyncToQuickbooksActionMany","tags":["billing.products"],"summary":"Execute the SyncToQuickbooks action over many records of type billing.products.","description":"Executes syncToQuickbooks over many records of type billing.products. For more information please refer to [Execute action over many records](https://platform-docs.slingr.io/dev-reference/rest-apis/apps-api/#execute-action-over-many-records)","parameters":[{"schema":{"type":"string"},"in":"header","name":"token","description":"Access token to perform operation.","required":true},{"schema":{"type":"string"},"in":"path","name":"ids","description":"IDs of records to perform operation separated by commas.","required":true},{"schema":{"type":"object"},"in":"query","name":"query parameters","description":"Filtering rules for records list. You can find information about parameters in [query language docs](https://platform-docs.slingr.io/dev-reference/queries/query-language/).","required":false},{"schema":{"type":"boolean"},"in":"query","name":"async","description":"Indicates if the operation has to be executed in the background.","required":false}],"requestBody":{"description":"Action parameters","required":true,"content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncToQuickbooksRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/definitions/billing.productsSyncToQuickbooksManyResponse"}}}},"403":{"description":"Provided token does not have permissions to perform operation"}}}},"/data/billing.products/syncToQuickbooks":{"put":{"operationId":"billing.pro
[...]
